* {
  margin: 0;
}
body {
  font-family: "Inter", sans-serif;
}

.test {
  color: white;
  padding-top: 2em;
  margin: 0;
  /* width: 400px;
  height: 2000px;
  background-color: tomato; */
  text-align: center;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

::selection {
  background: tomato; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: tomato; /* Gecko Browsers */
}
